################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectEuler100/ProjectEuler100/bin/Debug/netcoreapp3.0
/ProjectEuler100/ProjectEuler100/obj
/ProjectEuler100/.vs/ProjectEuler100/v16
/.vs
